footer {
    position: relative;
    display: flex;
    bottom: 0;
    left: 0;
    height: 23px;
    width: 100%;
    justify-content: center;
    background-color: blue;
    border-top: 2px solid #f00;
    color: #fff;
    font-size: 15px;
    align-items: center;
}